<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        My Symfony CRUD
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block stylesheets %}
    {% endblock %}
  </head>
  <body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-6">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>